body{
    background-color:white;

    font-family:papyrus;
}
div{     /*what color is complementry to blue*/
    height: 150px;
    width: 150px;
    padding: 10px;
    margin:2px;
}
#box_one{
    background-color:color;
    color: orange;
}
#box_two{
    /*what color is analogus to blue*/
    background-color:green;
    color:blue;
    border:6px solid violet;
}
#box_three{     /* what colors are triadic to blue*/
    background-color: red;
    color:blue;
    border: 6px solid yellow;
}
#content{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
img{}